# Node modules (cần thiết để tránh commit thư viện)
node_modules/

# Build output
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Vue CLI UI
.vue/

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.local
.env.*.local

# Cache files
.cache/
public/
.DS_Store
Thumbs.db

# Linter cache
eslintcache
stylelintcache

# Test Coverage reports
coverage/
*.lcov

# TypeScript
*.tsbuildinfo

# Local server
npm-debug.log*
